<?xml version="1.0" encoding="UTF-8"?>
<!-- 配置debug属性，开启日志框架的调试模式 -->
<configuration debug="true">
    <!-- 引入properties文件，定义变量 -->
    <property resource="config/logback/logback.properties"/>
    <!-- 定义contextName，项目名 -->
    <contextName>${app_name}</contextName>
    <!-- 引入Appender，必须在logger之前 -->
    <include resource="config/logback/appender.xml"/>
    <!-- 引入logger -->
    <include resource="config/logback/logger.xml"/>
    <!-- 定义root logger -->
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>